/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: lightgrey;
}
/* Nav Logo */
#nav-logo {
  height: 80px;
  padding: 10px 0px 10px 10px;
  vertical-align: middle;
}

.nav-container {
  background-color: white;
}

h1 {
  display: inline;
  font-size: 48px;
  font-weight: 900;
  vertical-align: middle;
}
/* Nav Logo End*/

/* Container Button*/

.container-button {
  max-width: 900px;
  height: 50px;
  /* margin: 30px auto 0 auto; */
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 0 0;
}

button {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  vertical-align: middle;
}

#button-task {
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  color: white;
}

#button-section {
  border: 1px solid #bbb9b9;
  background-color: #ffffff;
  color: #bbb9b9;
}

.section-botton {
  margin-left: 40px;
}

/* Container Button End*/

/* Container List */

.container-list {
  max-width: 900px;
  height: auto;
  margin: 2px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 4px 4px;
  padding: 50px 25px;
}

/* Container List End*/

/* List style */
li {
  list-style-type: none;
  padding: 10px 0;
}

.check-green {
  color: #58ac58;
  border: 1px solid #58ac58;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.material-symbols-outlined {
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}

.cross-red {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
}
/* List style End*/

/* Fake Buttons Style */
.fake-button-editorial {
  border: 1px solid #45abea;
  border-radius: 15px;
  background-color: #45abea;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.fake-button-goals {
  border: 1px solid #9c72e4;
  border-radius: 15px;
  background-color: #9c72e4;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.fake-button-recruting {
  border: 1px solid #64c0a9;
  border-radius: 15px;
  background-color: #64c0a9;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.fake-button-mobile {
  border: 1px solid #f29e33;
  border-radius: 15px;
  background-color: #f29e33;
  color: white;
  padding: 4px;
  font-size: 12px;
}
.fake-button-recruting {
  border: 1px solid #64c0a9;
  border-radius: 15px;
  background-color: #64c0a9;
  color: white;
  padding: 4px;
  font-size: 12px;
}
.fake-button-website {
  border: 1px solid #d863a1;
  border-radius: 15px;
  background-color: #d863a1;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.fake-button-sales {
  border: 1px solid #b0c926;
  border-radius: 15px;
  background-color: #b0c926;
  color: white;
  padding: 4px;
  font-size: 12px;
}

.fake-button-edit {
  border: 1px solid #f29e33;
  border-radius: 15px;
  background-color: #f29e33;
  color: white;
  padding: 4px;
  font-size: 12px;
}
/* Fake Buttons Style End */
