/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: lightgrey;
}
/* Nav Logo */
#nav-logo {
  height: 80px;
  padding: 10px 0px 10px 10px;
  vertical-align: middle;
}

.nav-container {
  background-color: white;
}

h1 {
  display: inline;
  font-size: 48px;
  font-weight: 900;
  vertical-align: middle;
}
/* Nav Logo End*/

/* Container Button*/

.container-button {
  max-width: 900px;
  height: 50px;
  /* margin: 30px auto 0 auto; */
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px 4px 0 0;
}

button {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  vertical-align: middle;
}

#button-task {
  border: 1px solid #1e90ff;
  background-color: #1e90ff;
  color: white;
}

#button-section {
  border: 1px solid #bbb9b9;
  background-color: #ffffff;
  color: #bbb9b9;
}

.section-botton {
  margin-left: 40px;
}

/* Container Button End*/

/* Container List */

.container-list {
  max-width: 900px;
  height: auto;
  margin: 2px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 4px 4px;
  padding: 50px 25px;
}

/* Container List End*/
li {
  list-style-type: none;
  padding: 10px 0;
}

.check-green {
  color: #58ac58;
  border: 1px solid #58ac58;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

.material-symbols-outlined {
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}

.cross-red {
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}
